/*================ Menu bar ================*/
.menuWrapper {
	position: relative;
	top: -12px;
	height: 70px;
	background: #abadb4;
}
.menuWrapper:after {
	content: '';
	position: absolute;
	background: #e3e6e9;
	top: 3.5px;
	left: 3.4px;
	right: 3.4px;
	bottom: 3.5px;
}
.menuWrapper:before {
	content: '';
	position: absolute;
	background: #f9f9f9;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
}

.menuList {
	display: flex;
	flex-direction: row;
	z-index: 2;
	position: relative;
	list-style: none;
	height: 100%;
	margin: 0;
	padding: 0 0.5rem;
}
.menuList li {
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

/*================ Small menu ================*/
.menuWrapper.menuSmall {
	width: 350px;
	clip-path: polygon(39% -2%, 50% 51%, 61% -2%, 100% 0, 100% 100%, 0 100%, 0 0);
}
.menuWrapper.menuSmall:after {
	clip-path: polygon(38.9% 0%, 50% 58.2%, 61.1% 0, 100% 0, 100% 100%, 0 100%, 0 0);
}
.menuWrapper.menuSmall:before {
	clip-path: polygon(39% 0, 50% 55%, 61% 0, 100% 0, 100% 100%, 0 100%, 0 0);
}
.menuWrapper.menuSmall .menuList li:nth-child(1) {
	margin-right: 2rem;
}
.menuWrapper.menuSmall .menuList li:nth-child(2) {
	margin-left: 2rem;
}
/*================ Small menu ================*/
